{# ============================================================================= #}
{# Development Only DB Status Report                                             #}
{# (c) Sertechno 2018                                                            #}
{# GLVH @ 2018-11-11                                                             #}
{# ============================================================================= #}
{% extends "butler_app.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}

{% block title %}Butler v 2.1.0{% endblock %}

{% block content %}
{% include 'butler_main.html' %}
{% endblock content %}

{# ============================================================================= #}
