{# ============================================================================= #}
{# Development Only DB Status Report                                             #}
{# (c) Sertechno 2018                                                            #}
{# GLVH @ 2018-11-11                                                             #}
{# ============================================================================= #}
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}


{% block title %}Collector{% endblock %}

{% block head %}
   {{ super() }}
{% endblock %}

{% block page_content %}
{% include 'butler_main.html' %}
{% endblock %}

{# ============================================================================= #}
