  <form method="post" class="form" role="form">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ form.name }}
    <table bgcolor=white>
      <tr>
        <td>
        <hr>
            <!-- Main VM fields request form -->
            <table>            
              <tr>
                <td width=256><b>Solicitud     </b></td>
                {%- if row.Id > 0 %}
                    <td>{{row.Id}} <b>{{get_request_status_description(row.Status)|join(', ')}}</b> {{data.role}}</td>
                {%- else %}
                    <td><b>Nueva solicitud</b></td>
                {%- endif %}
              </tr>
              <tr>
                <td width=256><b>Nombre de MV   </b></td>
                <td><input class="form-control" id="vmName" name="vmName" type="text" value="{{rox.vm_name}}"></td>
                {% if 'vmName' in form.errors %}<td><font color=red>{% for error in form.errors.vmName %}{{error}}{% endfor %}{% endif %}</td>
              </tr>
              <tr>
                <td><b>N&uacute;mero de CPUs </b></td>
                <td><input class="form-control" id="vmCPU" name="vmCPU" type="number" value="{{rox.num_sockets}}"></td>
                {% if 'vmCPU' in form.errors %}<td><font color=red>{% for error in form.errors.vmCPU %}{{error}}{% endfor %}{% endif %}</td>
              </tr>
              <tr>
                <td><b>Memoria RAM en GB</b></td>
                <td><input class="form-control" id="vmRAM" name="vmRAM" type="number" value="{{rox.memory_size_gib}}"></td>
                {% if 'vmRAM' in form.errors %}<td><font color=red>{% for error in form.errors.vmRAM %}{{error}}{% endfor %}{% endif %}</td>
              </tr>
              <tr>
                <td><b>Centro de Costo</b></td>
                <td>
                  <select class="form-control" name="vmCC" id="vmCC">
                    {%- for value,option in form.vmCC.choices %}
                      {%- if value == form.vmCC.data %}
                      <option selected value="{{value}}">{{option}}</option>
                      {%- else %}
                      <option             value="{{value}}">{{option}}</option>
                      {%- endif %}
                    {%- endfor %}
                  </select>
                </td>
                {% if 'vmCC' in form.errors %}<td><font color=red>{% for error in form.errors.vmCC %}{{error}}{% endfor %}{% endif %}</td>
              </tr>
              <tr>
                <td><b>Tipo de disco</b></td>
                <td>
                  <select class="form-control" name="vmType" id="vmType">
                    {%- for value,option in form.vmType.choices %}
                      {%- if value == form.vmType.data %}
                      <option selected value="{{value}}">{{option}}</option>
                      {%- else %}
                      <option             value="{{value}}">{{option}}</option>
                      {%- endif %}
                    {%- endfor %}
                  </select>
                </td>
                {% if 'vmType' in form.errors %}<td><font color=red>{% for error in form.errors.vmType %}{{error}}{% endfor %}{% endif %}</td>
              </tr>
            </table>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
          <!-- VM required storage specifications -->
          <table>
            <thead>
              <tr>
                <th width=256>Disco #</th>
                <th><b>Tama&ntilde;o en GB</b></th>
                <th><b>Imagen de Disco</b></th>
              </tr>
            </thead>
            <tbody>

                <tr>
                  <td align=center>{{1}}</td>
                  <td><input class="form-control" id="vmDisk0Size" name="vmDisk0Size" type="number" value={{form.vmDisk0Size.data}}></td>
                  {% if 'vmDisk0Size' in form.errors %}<td><font color=red>{% for error in form.errors.vmDisk0Size %}{{error}}{% endfor %}{% endif %}</td>
                  <td>
                    <select class="form-control" name="vmDisk0Image" id="vmDisk0Image">
                      {%- for value,option in form.vmDisk0Image.choices %}
                        {%- if value == form.vmDisk0Image.data %}<option selected value="{{value}}">{{option}}</option>
                        {%- else %}                              <option             value="{{value}}">{{option}}</option>
                        {%- endif %}
                      {%- endfor %}
                    </select>
                  </td>
                {% if 'vmDisk0Image' in form.errors %}<td><font color=red>{% for error in form.errors.vmDisk0Image %}{{error}}{% endfor %}{% endif %}</td>
                </tr>

                <tr>
                  <td align=center>{{2}}</td>
                  <td><input class="form-control" id="vmDisk1Size" name="vmDisk1Size" type="number" value={{form.vmDisk1Size.data}}></td>
                  <td>
                    <select class="form-control" name="vmDisk1Image" id="vmDisk1Image">
                      {%- for value,option in form.vmDisk1Image.choices %}
                        {%- if value == form.vmDisk1Image.data %}<option selected value="{{value}}">{{option}}</option>
                        {%- else %}                              <option             value="{{value}}">{{option}}</option>
                        {%- endif %}
                      {%- endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align=center>{{3}}</td>
                  <td><input class="form-control" id="vmDisk2Size" name="vmDisk2Size" type="number" value={{form.vmDisk2Size.data}}></td>
                  <td>
                    <select class="form-control" name="vmDisk2Image" id="vmDisk2Image">
                      {%- for value,option in form.vmDisk2Image.choices %}
                        {%- if value == form.vmDisk2Image.data %}<option selected value="{{value}}">{{option}}</option>
                        {%- else %}                              <option             value="{{value}}">{{option}}</option>
                        {%- endif %}
                      {%- endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align=center>{{4}}</td>
                  <td><input class="form-control" id="vmDisk3Size" name="vmDisk3Size" type="number" value={{form.vmDisk3Size.data}}></td>
                  <td>
                    <select class="form-control" name="vmDisk3Image" id="vmDisk3Image">
                      {%- for value,option in form.vmDisk3Image.choices %}
                        {%- if value == form.vmDisk3Image.data %}<option selected value="{{value}}">{{option}}</option>
                        {%- else %}                              <option             value="{{value}}">{{option}}</option>
                        {%- endif %}
                      {%- endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align=center>{{5}}</td>
                  <td><input class="form-control" id="vmDisk4Size" name="vmDisk4Size" type="number" value={{form.vmDisk4Size.data}}></td>
                  <td>
                    <select class="form-control" name="vmDisk4Image" id="vmDisk4Image">
                      {%- for value,option in form.vmDisk4Image.choices %}
                        {%- if value == form.vmDisk4Image.data %}<option selected value="{{value}}">{{option}}</option>
                        {%- else %}                              <option             value="{{value}}">{{option}}</option>
                        {%- endif %}
                      {%- endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align=center>{{6}}</td>
                  <td><input class="form-control" id="vmDisk5Size" name="vmDisk5Size" type="number" value={{form.vmDisk5Size.data}}></td>
                  <td>
                    <select class="form-control" name="vmDisk5Image" id="vmDisk5Image">
                      {%- for value,option in form.vmDisk5Image.choices %}
                        {%- if value == form.vmDisk5Image.data %}<option selected value="{{value}}">{{option}}</option>
                        {%- else %}                              <option             value="{{value}}">{{option}}</option>
                        {%- endif %}
                      {%- endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align=center>{{7}}</td>
                  <td><input class="form-control" id="vmDisk6Size" name="vmDisk6Size" type="number" value={{form.vmDisk6Size.data}}></td>
                  <td>
                    <select class="form-control" name="vmDisk6Image" id="vmDisk6Image">
                      {%- for value,option in form.vmDisk6Image.choices %}
                        {%- if value == form.vmDisk6Image.data %}<option selected value="{{value}}">{{option}}</option>
                        {%- else %}                              <option             value="{{value}}">{{option}}</option>
                        {%- endif %}
                      {%- endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align=center>{{8}}</td>
                  <td><input class="form-control" id="vmDisk7Size" name="vmDisk7Size" type="number" value={{form.vmDisk7Size.data}}></td>
                  <td>
                    <select class="form-control" name="vmDisk7Image" id="vmDisk7Image">
                      {%- for value,option in form.vmDisk7Image.choices %}
                        {%- if value == form.vmDisk7Image.data %}<option selected value="{{value}}">{{option}}</option>
                        {%- else %}                              <option             value="{{value}}">{{option}}</option>
                        {%- endif %}
                      {%- endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align=center>{{9}}</td>
                  <td><input class="form-control" id="vmDisk8Size" name="vmDisk8Size" type="number" value={{form.vmDisk8Size.data}}></td>
                  <td>
                    <select class="form-control" name="vmDisk8Image" id="vmDisk8Image">
                      {%- for value,option in form.vmDisk8Image.choices %}
                        {%- if value == form.vmDisk8Image.data %}<option selected value="{{value}}">{{option}}</option>
                        {%- else %}                              <option             value="{{value}}">{{option}}</option>
                        {%- endif %}
                      {%- endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align=center>{{10}}</td>
                  <td><input class="form-control" id="vmDisk9Size" name="vmDisk9Size" type="number" value={{form.vmDisk9Size.data}}></td>
                  <td>
                    <select class="form-control" name="vmDisk9Image" id="vmDisk0Image">
                      {%- for value,option in form.vmDisk9Image.choices %}
                        {%- if value == form.vmDisk9Image.data %}<option selected value="{{value}}">{{option}}</option>
                        {%- else %}                              <option             value="{{value}}">{{option}}</option>
                        {%- endif %}
                      {%- endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align=center>{{11}}</td>
                  <td><input class="form-control" id="vmDisk10Size" name="vmDisk10Size" type="number" value={{form.vmDisk10Size.data}}></td>
                  <td>
                    <select class="form-control" name="vmDisk10Image" id="vmDisk10Image">
                      {%- for value,option in form.vmDisk10Image.choices %}
                        {%- if value == form.vmDisk10Image.data %}<option selected value="{{value}}">{{option}}</option>
                        {%- else %}                              <option             value="{{value}}">{{option}}</option>
                        {%- endif %}
                      {%- endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align=center>{{12}}</td>
                  <td><input class="form-control" id="vmDisk11Size" name="vmDisk11Size" type="number" value={{form.vmDisk11Size.data}}></td>
                  <td>
                    <select class="form-control" name="vmDisk11Image" id="vmDisk11Image">
                      {%- for value,option in form.vmDisk11Image.choices %}
                        {%- if value == form.vmDisk11Image.data %}<option selected value="{{value}}">{{option}}</option>
                        {%- else %}                              <option           value="{{value}}">{{option}}</option>
                        {%- endif %}
                      {%- endfor %}
                    </select>
                  </td>
                </tr>

            </tbody>
          </table>
        <hr>
        </td>
      </tr>
    </table>
    <!-- Button options as per user role -->
    {%- if data.role == 'Requestor' %}
        <!-- Options for Requestor role -->
        {%- if row.Status is none or row.Status == data.status.NONE%}
            <!-- Options for Created Request -->
            <input class="btn btn-default" id="submit_Guardar"    name="submit_Guardar"    type="submit" value="Guardar">
            <input class="btn btn-default" id="submit_Retorno"   name="submit_Retorno"   type="submit" value="Retorno">
        {%- elif row.Status == data.status.CREATED %}
            <!-- Options for Created Request -->
            <input class="btn btn-default" id="submit_Guardar"    name="submit_Guardar"    type="submit" value="Guardar">
            <input class="btn btn-default" id="submit_Completado" name="submit_Completado" type="submit" value="Completado" >
            <input class="btn btn-default" id="submit_Cancelar"   name="submit_Cancelar"   type="submit" value="Cancelar">
            <input class="btn btn-default" id="submit_Retorno"   name="submit_Retorno"   type="submit" value="Retorno">
        {%- elif row.Status == data.status.REQUESTED %}
            <!-- Options for Requested Request -->
            <input class="btn btn-default" id="submit_Cancelar"   name="submit_Cancelar"   type="submit" value="Cancelar">
            <input class="btn btn-default" id="submit_Retorno"   name="submit_Retorno"   type="submit" value="Retorno">    
        {%- else %}
            <!-- Options for Inactive Request -->
            <input class="btn btn-default" id="submit_Retorno"   name="submit_Retorno"     type="submit" value="Retorno">
        {%- endif %}
    {%- elif data.role == 'Approver' %}
        <!-- Options for Approver role -->
        {%- if row.Status == data.status.REQUESTED or row.Status == data.status.REVIEWED %}
            <!-- Options for Requested Request -->
            <input class="btn btn-default" id="submit_Guardar"    name="submit_Guardar"    type="submit" value="Guardar">
            <input class="btn btn-default" id="submit_Rechazar"   name="submit_Rechazar"   type="submit" value="Rechazar">
            <input class="btn btn-default" id="submit_Aprobar"    name="submit_Aprobar"    type="submit" value="Aprobar">
            <input class="btn btn-default" id="submit_Retorno"   name="submit_Retorno"   type="submit" value="Retorno">
        {%- elif row.Status in [data.status.REJECTED,data.status.APPROVED] %}
            <!-- Options for Handled Request -->
            <input class="btn btn-default" id="submit_Retorno"   name="submit_Retorno"   type="submit" value="Retorno">    
        {%- else %}
            <!-- Options for Inactive or post approved Request -->
            <input class="btn btn-default" id="submit_Retorno"   name="submit_Retorno"     type="submit" value="Retorno">
        {%- endif %}
    {%- else %}
        <!-- Options for Other/Viewer role -->
            <input class="btn btn-default" id="submit_Retorno"   name="submit_Retorno"     type="submit" value="Retorno">
    {%- endif %}
  </form>

